<meta charset="UTF-8">
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
<title><%= title %></title>
<link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
<!-- Bootstrap core CSS -->
<link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<!-- font Awesome -->
<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!-- Ionicons -->
<link href="/bower_components/ionicons/css/ionicons.min.css" rel="stylesheet" type="text/css" />
<!-- octicons -->
<link rel="stylesheet" href="/bower_components/octicons/octicons/octicons.css" type="text/css" >
<!-- jvectormap -->
<link href="/bower_components/jvectormap/jquery-jvectormap.css" rel="stylesheet" type="text/css" />
<!-- fullCalendar -->
<link href="/bower_components/fullcalendar/dist/fullcalendar.css" rel="stylesheet" type="text/css" />
<!-- Daterange picker -->
<link href="/bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
<!-- Rickshaw style -->
<link href="/bower_components/rickshaw/rickshaw.min.css" rel="stylesheet" type="text/css" />
<!-- jQuery UI CSS -->
<link href="/bower_components/jquery-ui/themes/redmond/jquery-ui.min.css" rel="stylesheet">
<!-- bootstrapValidator CSS -->
<link href="/bower_components/bootstrapValidator/dist/css/bootstrapValidator.min.css" rel="stylesheet">
<!-- Theme style -->
<link href="/css/AdminLTE.css" rel="stylesheet" type="text/css" />
<link href="/css/index.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
